@import url('common.css');

@import url('menu.css');

.wrapper {
	width: 980px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0px 10px 20px #bbbbbb;
}

#header {
	width: 100%;
	background: transparent;
}

.header {
	width: 100%;
	height: 46px;
	background: #b2b2b2;
}

ul.header li {
	display: inline;
	float: right;
	line-height: 46px;
	padding: 0 10px;
	background: transparent url('../images/header-border.png') center left
		no-repeat;
	position: relative;
}

ul.header li:first-child {
	margin-right: 58px;
}

ul.header li:last-child {
	background: none;
	background: transparent url('../images/phone.png') center left no-repeat;
	padding-left: 25px;
}

ul.header li a {
	color: #fefefe;
	background: transparent url('../images/header-arrow.png') top right
		no-repeat;
	padding-right: 12px;
	font-size: 13pt;
}

ul.header li:last-child a {
	background: none;
	padding-right: 0;
}

ul.header li ul {
	display: none;
	position: absolute;
	left: 0;
	top: 58px;
	width: 210px;
	z-index: 9;
	border: 1px solid #a4a4a4;
	background: #fff;
	opacity: 0.98;
}

ul.header li ul li {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	padding: 7px 0;
}

ul.header li ul li.arrow {
	position: relative;
	width: 14px;
	height: 12px;
	background: #fff url('../images/border-menu-arrow.png') left top
		no-repeat;
	top: -12px;
	left: 37px;
	padding: 0;
}

ul.header li ul li input {
	width: 174px;
	line-height: 21px;
	padding-left: 8px;
}

ul.header>li>ul>li>.btnlogin {
	height: 29px;
	background: #ff6600;
	color: #fff;
	border: none;
	cursor: pointer;
	padding-left: 0;
}

ul.header>li>ul>li>.btnlogin:active {
	background: #b2b2b2;
	border: none;
}

ul.header>li>ul>li>.chksave {
	width: 14px;
	float: left;
	margin-left: 18px;
}

ul.header>li>ul>li>label {
	float: left;
	line-height: 14px;
	margin-left: 5px;
}

ul.header>li>ul>li>a {
	float: left;
	color: #000;
	font-size: 10pt;
	line-height: 14px;
	margin-left: 13px;
	padding-right: 0px;
}

ul.header>li>ul>li>a:hover {
	color: #ff8042;
}

ul.header>li>ul>li:last-child {
	background: none;
	width: 174px;
	padding: 15px 0;
	margin-top: 10px;
	border-top: 1px solid #878787;
	margin-left: 18px;
}

ul.header>li>ul>li:last-child a {
	text-transform: uppercase;
	font-size: 11pt;
	margin-left: 29px;
}

.banner {
	width: 100%;
	height: 160px;
}

.banner .logo {
	float: left;
	margin-left: 130px;
	margin-top: 29px;
}

.banner .search {
	float: right;
	margin-right: 106px;
	margin-top: 30px;
}

.banner .search ul li {
	display: inline;
}

.banner .search form {
	margin-top: 23px;
}

.banner .search .txtsearch {
	width: 201px;
	height: 26px;
	padding-left: 10px;
	float: left;
}

.banner .search .btnsearch {
	width: 26px;
	height: 22px;
	background: transparent url('../images/search-bg.png') center center
		no-repeat;
	border: none;
	float: left;
	margin-left: -28px;
	margin-top: 2px;
	cursor: pointer;
}

.intro {
	width: 100%;
	height: 355px;
	float: left;
}

#service {
	width: 100%;
	height: 99px;
	text-align: center;
}

.menu_product {
	width: 1010px;
	height: 99px;
	background: transparent;
	margin: 0 auto;
}

.menu_product li {
	display: inline;
	height: 99px;
}

.product_left {
	float: left;
	width: 15px;
	background: transparent url('../images/menu-left-bg.png') top right
		no-repeat;
}

.product_right {
	float: left;
	width: 15px;
	background: transparent url('../images/menu-right-bg.png') top left
		no-repeat;
}

.product_center {
	float: left;
	width: 980px;
	background: #fff url('../images/menu-center-bg.png') top left repeat-x;
}

.title-product {
	float: left;
	margin-left: 35px;
	padding-left: 26px;
	background: transparent url('../images/title-product.png') left center
		no-repeat;
	font-size: 14pt;
	line-height: 75px;
	color: #e14f00;
	text-transform: uppercase;
	font-weight: bold;
}

.variable-width {
	float: left;
	width: 695px;
	height: 75px;
	line-height: 75px;
	margin-left: 50px;
}

.variable-width h4 {
	float: left;
	text-transform: uppercase;
	margin: 0 19px;
}

.variable-width a {
	color: #000;
}

.variable-width a:hover {
	color: #e14f00;
}

.content_top {
	float: left;
	width: 100%;
}

.content_top li {
	float: left;
	width: 273px;
	margin-left: 40px;
	margin-top: 20px;
}

.content_top li .product {
	width: 100%;
	height: 200px;
	position: relative;
	z-index: 1;
}

.content_top li .product img {
	width: 273px;
	height: 200px;
}

.content_top li h4 {
	display: none;
	position: absolute;
	top: 174px;
	width: 100%;
	z-index: 9;
	background: #e14f00;
	opacity: .5;
	line-height: 26px;
	height: 26px;
}

.content_top li .product:hover h4 {
	display: block;
	color: #fff;
}

.content_bottom {
	float: left;
	width: 100%;
	margin-top: 50px;
	padding-bottom: 30px;
}

.content_bottom ul {
	float: left;
	width: 220px;
	margin-left: 70px;
}

.content_bottom ul li {
	float: left;
	width: 100%;
	padding-left: 30px;
	margin-top: 10px;
}

.content_bottom ul li.title-v1 {
	background: transparent url('../images/title-camket.png') left center
		no-repeat;
}

.content_bottom ul li.title-v2 {
	background: transparent url('../images/title-loiich.png') left center
		no-repeat;
}

.content_bottom ul li.title-v3 {
	background: transparent url('../images/title-hotro.png') left center
		no-repeat;
}

.content_bottom ul li h4 {
	float: left;
	width: 100%;
	background: #ff6600;
	color: #fff;
	line-height: 25px;
}

.content_bottom ul li a {
	float: left;
	background: transparent url('../images/list-style.png') left center
		no-repeat;
	padding-left: 20px;
	color: #000;
}

.content_bottom ul li a:hover {
	color: #ff6101;
}

#menu_bottom {
	float: right;
	margin-right: 30px;
}

#menu_bottom li {
	display: inline;
	padding: 0 15px;
	background: transparent url('../images/border-menu.png') left center
		no-repeat;
}

#menu_bottom li:first-child {
	background: none;
}

#menu_bottom li a {
	color: #000;
	font-size: 11px;
}

#menu_bottom li a:hover {
	color: #ff6101;
}

.address {
	float: left;
	width: 100%;
	margin-top: 20px;
}

.address p {
	float: left;
	margin-left: 50px;
	text-align: left;
	line-height: 25px;
}

.copyright {
	float: left;
	width: 100%;
	margin: 15px 0;
}