@IMPORT url("common.css");

#main {width: 100%; height: auto;}
/*** Header ***/
#header {
	width: 100%;
	height: 50px;
}
#logo {
	width: 20%;
	height: 100%;
	background: #367fa9;
	float: left;
}
#notification {
	width: 80%;
	height: 100%;
	background: #3c8dbc;
	float: right;
}
/*** End header ***/

/*** Content ***/
#content {
	width: 100%;
	height: auto;
}

/*** sidebar ***/
#sidebar {
	width: 20%;
	height: 300px;
	background: #c3c3c3;
	float: left;
}
#sidebar div#sb-search {
	height: auto;
	background: #515151;
	padding: 5px;
}
#sidebar div#sb-search div#user-info {
	height: 60px;
	margin-bottom: 10px;
}
#sb-search div#user-info div#user-avatar {
	width: 60px;
	height: 100%;
	background: red;
	float: left;
	margin-right: 5px;
}
#user-avatar img {
	height: 60px;
	width: 60px;
}
#sb-search div#user-info div#user-display {
	width: 72%;
	height: 100%;
	color: white;
}
.search-box {
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	
}
.sb-titles {
	width: 100%;
}
.nav-title {
	font-family: tahoma arial;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	margin-left: 5px;
}
/*** End sidebar ***/


/*** wrapper ***/
#wrapper {
	width: 80%;
	height: 200px;
	background: #fdfdfd;
	float: right;
}
#menubar {
	width: 100%;
	height: 50px;
	background: #a0a0a0;
}
#new-feeds {
	width: 100%;
	height: 100px;
	background: #b2b2b2;
}
/*** End wrapper ***/
/*** End Content ***/

