@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@charset "UTF-8";
/* Base Styles */
#navigation,
#navigation ul,
#navigation li,
#navigation a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
}
#navigation a {
  line-height: 1.3;
}
#navigation {
  width: 100%;
}
#navigation > ul > li > a {
  padding-right: 40px;
  font-size: 25px;
  font-weight: bold;
  display: block;
  background: #515151;
  color: #ffffff;
  border-bottom: 1px solid #5e071b;
  text-transform: uppercase;
}
#navigation > ul > li > a > span {
  padding: 10px;
  display: block;
  font-size: 13px;
  font-weight: 300;
}
#navigation > ul > li > a:hover {
  text-decoration: none;
}
#navigation > ul > li.active {
  border-bottom: none;
}
#navigation > ul > li.active > a {
  color: #fff;
}
#navigation > ul > li.active > a span {
  background: #515151;
}
#navigation span.cnt {
  position: absolute;
  top: 8px;
  right: 15px;
  padding: 0;
  margin: 0;
  background: none;
}
/* Sub menu */
#navigation ul ul {
  display: none;
}
#navigation ul ul li {
  border: 1px solid #e0e0e0;
  border-top: 0;
}
#navigation ul ul a {
  padding: 10px;
  display: block;
  font-size: 13px;
}
.sub-level2 {
	background: #f0f0f0;
}

#navigation ul ul ul a:hover {
  color: #bd0e36;
}
#navigation ul ul ul li.odd {
  background: #f4f4f4;
}
#navigation ul ul ul li.even {
  background: #fff;
}